.d1{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 40s ease-in-out infinite both;
}
.conteneur{
    max-width: 300px;
    margin: 50px auto;
}
.d1:hover{
    animation-play-state: paused;
}
/*.d2:hover{
    animation-play-state: paused;
}*/

@keyframes fondu{
    0%{background-image: url("./img_project/1.jpg");}
    5%{background-image: url("./img_project/2.jpg");}
    10%{background-image: url("./img_project/3.png");}
    15%{background-image: url("./img_project/4.jpg");}
    20%{background-image: url("./img_project/5.jpg");}
    25%{background-image: url("./img_project/6.jpg");}
    30%{background-image: url("./img_project/7.jpg");}
    50%{background-image: url("./img_project/11.jpg");}
    80%{background-image: url("./img_project/17.jpg");}
    85%{background-image: url("./img_project/18.jpg");}
    90%{background-image: url("./img_project/19.png");}
    95%{background-image: url("./img_project/20.jpg");}
}
